<div class="well col-sm-10 col-xs-12">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header section-title">{{pageTitle}}</div>
		</div>
		
		<div class="movie-container col-sm-2 col-xs-6" ng-repeat="music in musicList">
			<a href="#/music/{{music.id}}" class="movie-thumb">
        		<img class="thumbnail img-responsive" ng-src="img/musicposters/{{music.posterPath}}.jpg">
				<h5>{{music.title}}</h5>
			</a>
		</div>
	</div>
</div>

<div class="col-sm-2">
  <div class="section-title genre-title">by genre</div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <span class="badge">{{musicList.length}}</span>
      All
    </a>

    <a href="#/genre/{{genre.name}}" ng-class="{active: genre.name==genreName}" class="list-group-item" ng-repeat="genre in genreList">
      <span class="badge">{{genre.total}}</span>
      {{genre.name}}
    </a>
  </div>
</div>

