<!DOCTYPE html>
<html  ng-app="musicGalleryApp">
	<head>
		<meta charset="utf-8" />
		<title>Music Gallery</title>
		 <link rel="stylesheet" type="text/css" href="js/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" text="type/css" href="css/app.css"/>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<a href="#" class="navbar-brand">
					<span class="glyphicon glyphicon-music"></span>MusicDB
				</a>
			</div> 
		</div>
		<div class="container">
			<div class="row">
				<ng-view></ng-view>
			</div>
		</div>
		
	<script src="js/bower_components/angular/angular.js"></script>
    <script src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/bower_components/angular-route/angular-route.js"></script>
    <script src="js/musicapp.js"></script>
    <script src="js/music/music.js"></script>
    <script src="js/catalog/musicCatalog.js"></script>
    <script src="js/components/music/musicService.js"></script>
    <script src="js/components/paginate/paginate-filter.js"></script>
	</body>
</html>